[Unit]
Description=Service for the OCR app
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=ec2-user
ExecStart=/home/ec2-user/acg-ocr/scripts/run_app.sh

[Install]
WantedBy=multi-user.target